@import "tailwindcss";

:root {
  --background: #f5f7f8;
  --foreground: #1d1a22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #8e4dff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-indigo-50: #f6f0ff;
  --color-indigo-100: #ebe0ff;
  --color-indigo-200: #d4bfff;
  --color-indigo-300: #b894ff;
  --color-indigo-400: #a06eff;
  --color-indigo-500: #8e4dff;
  --color-indigo-600: #7a3ee6;
  --color-indigo-700: #652fc4;
  --color-indigo-800: #4f2499;
  --color-indigo-900: #3a1b70;
  --color-indigo-950: #241247;

  --color-gray-50: #f5f6f9;
  --color-gray-100: #eceff8;
}

html {
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
